#!/usr/bin/env xdg-open
# vim:ft=desktop
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=digikam
Icon[en_US]=digikam
Exec={{ ansible_env.HOME }}/.local/bin/digikam
Name[en_US]=digiKam
Name=digiKam
