#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=gnucash
Icon[en_US]=gnucash
Exec={{ ansible_env.HOME }}/.waffle/bin/gnucash-gui-shim-dont-compete-with-cron
Name[en_US]=GnuCash
Name=GnuCash
