#!/usr/bin/env xdg-open
# vim:ft=desktop
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon={{ ansible_env.HOME }}/.config/zoidy_matecocido/icons/computer_1371885.svg
Icon[en_US]={{ ansible_env.HOME }}/.config/zoidy_matecocido/icons/computer_1371885.svg
Exec=xdotool key ctrl+alt+d
Name[en_US]=Show Desktop
Name=Show Desktop
