#!/usr/bin/env xdg-open
# vim:ft=desktop
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon={{ ansible_env.HOME }}/.config/zoidy_matecocido/icons/terminal_and-mushroom_1139977.png
Icon[en_US]={{ ansible_env.HOME }}/.config/zoidy_matecocido/icons/terminal_and-mushroom_1139977.png
Name[en_US]=Termdub [normal ormal ormal]
Exec={{ ansible_env.HOME }}/.local/bin/bash -c "DUBS_ALWAYS_ON_VISIBLE=false HOMEFRIES_CD=$(readlink ~/.waffle/work/user-current-project) mate-terminal {{ zoidy_matecocido_terminal_geometry }} -e {{ ansible_env.HOME }}/.local/bin/bash"
Name=Termdub [normal ormal ormal]
