#!/usr/bin/env xdg-open
# vim:ft=desktop
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name={{ zoidy_matecocido_dubs_vim_name }}
Name[en_US]={{ zoidy_matecocido_dubs_vim_name }}
# SYNC_ME: SAMPI syncs to Home Fries' ${GVIM_OPEN_SERVERNAME:-SAMPI}.
Exec={{ ansible_env.HOME }}/.local/bin/bash -c "{{ ansible_env.HOME }}/.kit/sh/gvim-open-kindness/bin/gvim-open-kindness '' '' '' {{ zoidy_matecocido_dubs_vim_edit }} && wmctrl -b add,sticky -r SAMPI"
Icon={{ zoidy_matecocido_dubs_vim_icon }}
Icon[en_US]={{ zoidy_matecocido_dubs_vim_icon }}
