# vim:ft=dosini
[general]
object-id-list=['window-list', 'menu-bar', 'notification-area', 'xapp-status', 'separator-1', 'zoidy-workspace-switcher', 'separator-2', 'zoidy-mate-weather', 'separator-3', 'zoidy-multi-load', 'clock'{{ custom_object_ids }}]
toplevel-id-list=['bottom', 'toplevel-0']

[objects/clock]
applet-iid='ClockAppletFactory::ClockApplet'
locked=true
object-type='applet'
panel-right-stick=true
position=0
toplevel-id='bottom'

[objects/clock/prefs]
custom-format=''
format='24-hour'

[objects/menu-bar]
applet-iid='MintMenuAppletFactory::MintMenuApplet'
locked=true
object-type='applet'
position=0
toplevel-id='bottom'

[objects/notification-area]
applet-iid='NotificationAreaAppletFactory::NotificationArea'
locked=true
object-type='applet'
panel-right-stick=true
position=40
toplevel-id='bottom'

[objects/separator-1]
locked=true
object-type='separator'
panel-right-stick=true
position=31
toplevel-id='bottom'

[objects/separator-2]
locked=true
object-type='separator'
panel-right-stick=true
position=21
toplevel-id='bottom'

[objects/separator-3]
locked=true
object-type='separator'
panel-right-stick=true
position=19
toplevel-id='bottom'

[objects/window-list]
applet-iid='WnckletFactory::WindowListApplet'
locked=true
object-type='applet'
position=0
toplevel-id='toplevel-0'

[objects/xapp-status]
applet-iid='MateXAppStatusAppletFactory::MateXAppStatusApplet'
locked=true
object-type='applet'
panel-right-stick=true
position=39
toplevel-id='bottom'

[objects/zoidy-mate-weather]
applet-iid='MateWeatherAppletFactory::MateWeatherApplet'
locked=true
object-type='applet'
panel-right-stick=true
position=20
toplevel-id='bottom'

[objects/zoidy-mate-weather/prefs]
auto-update=true
coordinates='44-52-59N 093-13-44W'
location1='KMSP'
location2='MNZ060'
location3='msp'
location4='Minneapolis'

[objects/zoidy-multi-load]
applet-iid='MultiLoadAppletFactory::MultiLoadApplet'
locked=true
object-type='applet'
panel-right-stick=true
position=10
toplevel-id='bottom'

[objects/zoidy-multi-load/prefs]
view-memload=false

[objects/zoidy-workspace-switcher]
applet-iid='WnckletFactory::WorkspaceSwitcherApplet'
locked=true
object-type='applet'
panel-right-stick=true
position=30
toplevel-id='bottom'

[toplevels/bottom]
expand=true
orientation='bottom'
screen=0
size=27
y=1053
y-bottom=0

[toplevels/toplevel-0]
expand=true
monitor=0
orientation='bottom'
screen=0
size=44
x-centered=true
y=1036
y-bottom=0

