# vim:ft=dosini
[general]
object-id-list=['window-list', 'menu-bar', 'notification-area', 'zoidy-workspace-switcher', 'zoidy-mate-weather', 'zoidy-multi-load', 'clock'{{ custom_object_ids }}]
toplevel-id-list=['bottom', 'toplevel-0']

[toplevels/bottom]
expand=true
orientation='bottom'
screen=0
y-bottom=0
size=27
y=1053

[toplevels/toplevel-0]
y-bottom=0
y=1036
orientation='bottom'
expand=true
size=44
screen=0
monitor=0
x-centered=true

[objects/window-list]
applet-iid='WnckletFactory::WindowListApplet'
locked=true
toplevel-id='toplevel-0'
position=0
object-type='applet'

[objects/menu-bar]
applet-iid='MintMenuAppletFactory::MintMenuApplet'
locked=true
toplevel-id='bottom'
position=0
object-type='applet'

[objects/notification-area]
applet-iid='NotificationAreaAppletFactory::NotificationArea'
locked=true
toplevel-id='bottom'
position=1271
object-type='applet'
panel-right-stick=false

[objects/zoidy-workspace-switcher]
applet-iid='WnckletFactory::WorkspaceSwitcherApplet'
locked=true
toplevel-id='bottom'
position=1505
object-type='applet'
panel-right-stick=false

[objects/zoidy-mate-weather]
applet-iid='MateWeatherAppletFactory::MateWeatherApplet'
locked=true
toplevel-id='bottom'
position=1710
object-type='applet'
panel-right-stick=false

[objects/zoidy-mate-weather/prefs]
location2='MNZ060'
location3='msp'
location4='Minneapolis'
coordinates='44-52-59N 093-13-44W'
auto-update=true
location1='KMSP'

[objects/zoidy-multi-load]
applet-iid='MultiLoadAppletFactory::MultiLoadApplet'
locked=true
toplevel-id='bottom'
position=1767
object-type='applet'
panel-right-stick=false

[objects/zoidy-multi-load/prefs]
view-memload=false

[objects/clock]
applet-iid='ClockAppletFactory::ClockApplet'
locked=true
toplevel-id='bottom'
position=0
object-type='applet'
panel-right-stick=true

[objects/clock/prefs]
format='24-hour'
custom-format=''

