# REFER:
#   https://wiki.archlinux.org/title/systemd/User
#   https://www.baeldung.com/linux/systemd-create-user-services
# Place the service and executable
#   cd ~/.kit/ansible/roles/zoidy_panelsweet/files
#   cp restore-mate-panels.sh ~/.config/systemd/user/restore-mate-panels.sh
#   cp restore-mate-panels.service ~/.config/systemd/user/restore-mate-panels.service
# - Install the service
#     systemctl --user daemon-reload
# - Start on logon
#     systemctl --user enable restore-mate-panels.service
#     # OUTPUT
#     # Created symlink
#     #   /home/landonb/.config/systemd/user/default.target.wants/restore-mate-panels.service
#     #   → /home/landonb/.config/systemd/user/restore-mate-panels.service.
# - Check its status
#     systemctl --user status restore-mate-panels.service
#     # OUTPUT
#     # ○ restore-mate-panels.service - Daemon repairs mate-panel layout on (screensaver) unlock
#     #      Loaded: loaded (/home/landonb/.config/systemd/user/restore-mate-panels.service;
#     #        enabled; vendor preset: enabled)
#     #      Active: inactive (dead)
# - Start immediately
#     systemctl --user start restore-mate-panels.service
# - ALTLY:
#     systemctl --user daemon-reload
#     systemctl --user enable --now restore-mate-panels.service
# - Check its status
#   systemctl --user status restore-mate-panels.service
#   # ● restore-mate-panels.service - Daemon repairs mate-panel layout on (screensaver) unlock
#   #      Loaded: loaded (/home/landonb/.config/systemd/user/restore-mate-panels.service;
#   #                enabled; vendor preset: enabled)
#   #      Active: active (running) since Fri 2024-02-16 22:10:19 CST; 1s ago
#   #    Main PID: 2860080 (restore-mate-pa)
#   #       Tasks: 3 (limit: 38229)
#   #      Memory: 760.0K
#   #         CPU: 93ms
#   #      CGroup: /user.slice/user-1000.slice/user@1000.service/app.slice/restore-mate-panels.service
#   #              ├─2860080 /bin/sh /home/landonb/.config/systemd/user/restore-mate-panels.sh
#   #              ├─2860091 dbus-monitor --address unix:path=/run/user/1000/bus
#   #                         type=signal,interface=org.mate.ScreenSaver
#   #              └─2860092 /bin/sh /home/landonb/.config/systemd/user/restore-mate-panels.sh
#   #
#   # Feb 16 22:10:19 lethe systemd[1194]: Started Daemon repairs mate-panel layout on (screensaver) unlock.
# - SKIPD: We could make this service for all users, but don't need to do so:
#     sudo cp ~/.config/systemd/user/restore-mate-panels.service /etc/systemd/user/

[Unit]
Description=Daemon repairs mate-panel layout on (screensaver) unlock

[Service]
Type=simple
# Neither User nor Group apply to user services.
#  User=
#  Group=
# Note that %h is the user home directory.
ExecStart=%h/.local/bin/restore-mate-panels.sh
Restart=on-failure
# StandardOutput=file:%h/log_file
StandardOutput=file:/tmp/restore-mate-panels.service.log

[Install]
WantedBy=default.target

